@import './base.css';

img{
  width:100%;
  height: 100%;
  list-style: none;
  outline: none;
  font-family: "Poppins", sans-serif;
}
.link{
  text-decoration: none;
}

/* TRY-FOR-FREE BUTTON  */
.try-for-free-btn{  
  font-size: 16px;
  padding:10px 20px;
  border-radius: 20px;
  border: 0;
}